/*|||---------------------------------------|||||
|||||-----------------INDICE----------------|||||
|||||1.-ESTILOS GENERALES                   |||||
|||||2.-ESTILOS EN HEADER                   |||||
|||||   2.1.-LOGO                           |||||
|||||   2.2.-MENU DE NAVEGACION             |||||
|||||   2.3.-REDES SOCIALES                 |||||
|||||   2.4.-CONTENEDOR BOTON DARK MODE     |||||
|||||   2.5.-CONTENEDOR BOTON MENU PRINCIPAL|||||
|||||3.-ESTILOS EN MAIN                     |||||
|||||4.-ESTILOS EN FOOTER                   |||||
|||||   4.1.-CONTENEDOR                     |||||      
|||||   4.2.-TERMINOS Y CONDICIONES         |||||                  
|||||   4.3.-POLITICA Y PRIVACIDAD          |||||
|||||   4.4.-AVISO Y CONTACTO               |||||          
|||||---------------------------------------|||||*/
/*|||||1.-ESTILOS GENERALES|||||*/
.oculto{
    display: none;
}
.estilo-section{
background-color: var(--color-seccion);
border-color: var(--color-borde);
box-shadow: var(--color-borde-shadow);
border-style: solid;
border-width: 1px;
border-radius:15px;
}
.estilo-article{
    padding: 0.5rem;
    background-color: var(--color-articulo);
    border-color: var(--color-borde);
    box-shadow: var(--color-borde-shadow);
    border-style: solid;
    border-width: 1px;
    border-radius:15px;
    margin-bottom: 1rem;
}
.titulo-guia{
    font-size: 1rem;
}
.descripcion-guia{
    font-size: .6rem;
}

.header__nav-link--main.pagina-activa{/*<a>dar preferencia de estilo blanco a pagina activa */
    color: white;
}
.texto-articulo{/*NEGRITAS Y CENTRADO*/
    font-weight: bold;
    text-align: center;
}
.text-outline {/*Borde blanco para texto*/
    color: black; /* Color del texto */
    text-shadow: 
      1px 1px 0 var(--gris-claro-1), 
      -1px -1px 0 var(--gris-claro-1), 
      -1px 1px 0 var(--gris-claro-1), 
      1px -1px 0 var(--gris-claro-1), 
      1px 0 0 var(--gris-claro-1), 
      0 1px 0 var(--gris-claro-1), 
      -1px 0 0 var(--gris-claro-1), 
      0 -1px 0 var(--gris-claro-1); /* Sombra blanca para crear el contorno */
  }
.size-section{/*Plantilla para el tamaño de<section>*/   
width: 99%;
height: auto;
margin:0.5% auto;
}
.size-article{/*Plantilla para el tamaño de<section>*/   
    width: 93%;
    height:auto;
    margin: 0 auto;
    margin-bottom: .3rem;
    }
body {/*Estilos principales en <body>*/
    background-color: var(--color-body);
    color: var(--color-texto);
    font-family: var(--tipo-letra);
}
.color-link{/*clase para normalizar color de letra de links*/
    color: #5865f2;
}
 .footer__copy-message {/*Estilos de mensajes copiados <span>*/
    display: none;
    background-color: #28a745;
    color: white;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    margin-left: 10px;
    z-index: 10;
  }
  .footer__copy-message.show {
    display: inline;
  }
/*|||||2.-ESTILOS EN HEADER|||||*/
.header__section{/*<section>*/
    /*GRID*/
display:grid;
grid-template: var(--grid-header-template-desktop);
justify-items: center;
}
/*||2.1.-LOGO||*/
.header__logo{/*<figure>*/
    margin: .5rem;
    display: flex;
    align-items: center;
    grid-area: a1;
}
.header__logo-image{/*<img>*/
    max-width: var(--icono-size-logo);
    display: var(--show-logo-1);
}
.header__logo-image--dark{/*<img>*/
    display: var(--show-logo-2);
}
.header__container-icono-tema{/*<div>*/
    grid-area: a1;
    justify-self: left;
    align-self:self-start;
    text-align: center;
    font-size: var(--letra-size-tema);
    color:var(--color-texto);
}
.header__container-icono-tema::after{
    content: var(--mensaje-tema);
    
}
.header__icono-tema--principal{/*<figure>*/
    display: var(--show-sun);
}
.header__icono-tema--dark{/*<figure>*/
    display: var(--show-moon);
}
/*||2.2.-MENU DE NAVEGACION||*/
.header__nav--main{/*<nav>*/
    grid-area: a2;
    display: flex;
}
.header__nav-list--main{/*<ul>*/
    align-self: center;
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
}
.header__nav-link--main{/*<a>*/
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%; /* Hace el elemento circular */
    width: var(--boton-size-navegacion);
    height: var(--boton-size-navegacion); 
    transition: all 1s ease;

    background-color:var(--color-boton-fondo); /* Fondo del círculo */
    color: var(--color-boton-letra); /* Color del texto */
    border: 2px solid var(--color-boton-borde); /* Color del borde del círculo */
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    
    
    
}
.header__nav-link--main:hover {/*<a>*/
    border-color: var(--color-boton-borde-clic); /* Color del borde al hacer clic */
}
.header__nav-link--main:focus {/*<a>*/
        color: var(--color-boton-letra-clic); /* Color del texto al hacer clic */
}
/*||2.3.-REDES SOCIALES||*/
.header__nav--social{/*<nav>*/
    padding: .5rem;
    grid-area:a3 ; 
}
.header__nav-list--social{/*<ul>*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap:1rem ;/* row-gap column gap */
    font-size: .8rem;
    
}
.header__nav-link--social{/*<a>*/
    text-decoration: none;
    color: var(--color-texto);
    font-size: var(--size-letra-redes);
}
.header__nav-img--social{/*<img>*/
    width: var(--icono-size-red-social);
    height: var(--icono-size-red-social);
}
/*||2.4.-CONTENEDOR BOTON DARK MODE||
border-radius: 50%; /* Hace el elemento circular 
width: 100px; /* Ajusta el tamaño según tus necesidades 
height: 100px; /* Ajusta el tamaño según tus necesidades 
transition: all 1s ease;
*/
.header__container-boton--dark{/*<div>*/
    margin: 1.5%;
    width: 2rem;
    height: 1rem;
    padding: .4rem;
    position: relative;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-area: a1;
    justify-self: left;
    align-self:self-end;
    background-color: var(--color-boton-fondo);
    border-radius: 100px;
    align-items: center;
    border: 1px solid var(--color-boton-borde);
    
}
.header__tema-check{/*<input>*/
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    
}
.header__tema-option{/*<div>*/
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    background-color:var(--gris-claro-1);
    border: 1px solid var(--color-boton-borde);
    border-radius: 50%; 
    transform: var(--transform-boton-tema, none);
     
}
/*||2.5.-CONTENEDOR BOTON MENU PRINCIPAL||*/
.header__container-boton--menu{
    padding: .5rem;
    grid-area: a3;
    justify-self: right;
    align-self:self-end;
}
.boton-dark{
    /*|estilo boton|*/
    border-radius: 50%;
    width: var(--boton-size-menu); 
    height: var(--boton-size-menu);  
    transition: all 1s ease;
    background-color:var(--color-boton-fondo); /* Fondo del círculo */
    color: var(--color-boton-letra); /* Color del texto */
    border: 2px solid var(--color-boton-borde); /* Color del borde del círculo */
    cursor: pointer;
}
.boton-menu{
    /*|estilo boton|*/
    border-radius: 50%;
    width: var(--boton-size-menu); 
    height: var(--boton-size-menu);  
    transition: all 1s ease;
    background-color:var(--color-boton-fondo); /* Fondo del círculo */
    color: var(--color-boton-letra); /* Color del texto */
    border: 2px solid var(--color-boton-borde); /* Color del borde del círculo */
    cursor: pointer;
}
.boton-dark:hover {/*boton-dark-hover*/
    border-color: var(--color-boton-borde-clic); /* Color del borde al hacer clic */
}
.boton-dark:focus {/*boton-dark-focus*/
        color: var(--color-boton-letra-clic); /* Color del texto al hacer clic */
}
.boton-menu:hover {/*boton-menu-hover*/
    border-color: var(--color-boton-borde-clic); /* Color del borde al hacer clic */
}
.boton-menu:focus {/*boton-menu-focus*/
        color: var(--color-boton-letra-clic); /* Color del texto al hacer clic */
}
/*|||||3.-ESTILOS EN MAIN|||||*/
.section__main{/*<section>*/
display: flex;
flex-direction: column;
}
.section__h1{/*<h1>*/

    text-align: center;
    font-size: var(--letra-size-main-h1);
    font-weight: bold;
}
.section__article-h2--principal{/*<h2>*/
    text-align: center;
    margin: .5rem;
}
.article__contenedor-texto{
    padding: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
}
.main__ul-categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    gap: 1rem;
    justify-content: space-around;
}
.main__li-categorias{
    max-width: 10.5rem;
}
.portada-size{
    max-width: var(--icono-size-logo);
}

/*|| 4.1.-CONTENEDOR CATEGORIAS ||*/
.section__main-categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*|||||4.-ESTILOS EN FOOTER|||||*/
.footer__text {
    max-width: 250px;
    margin: 2px;
    font-size: .5rem;
  }
.footer__subtitle {
    font-size: .7rem;
  }
.footer__title{
    font-size: .9rem;
}
/*|| 4.1.-CONTENEDOR ||*/
.footer__section{/*<section>*/  
    display:grid;
    grid-template: var(--grid-footer-template-desktop);
    justify-items: center;
    padding: .2rem;
}
.footer__container{/*<div>*/
    align-items: auto;
    justify-items: auto;
    gap: 10px;
    margin: 1%;
    display: grid;
    grid-template-areas: var(--grid-footer-template-desktop);
}
/*|| 4.2.-TERMINOS ||*/
.footer__section--terms{/*<div>*/
    align-items: center;
    justify-content: center;
    grid-area: a1;
    display: grid;
    gap: 1%;
    grid-template-areas:    "a1 a2 a3 a4 a5"
                            "a6 a7 a8 a9 a10";
    .footer__title--terms{
    grid-area: a1;
    align-self: center;
    }
    .footer__text-1--terms{
    grid-area: a6; 
    }
    .footer__subtitle-1--terms{
    grid-area: a2;
    align-self:flex-end;
    }
    .footer__text-2--terms{
    grid-area: a7;
    align-self: flex-start;
    
    }
    .footer__subtitle-2--terms{
    grid-area: a3;
    align-self:flex-end;
    }
    .footer__text-3--terms{
    grid-area: a8;
    align-self: flex-start; 
    } 
}
 /*|| 4.3.-POLITICA ||*/
.footer__section--privacy{/*<div>*/
    grid-area: a2;
    display: grid;
    gap: 1%;
    grid-template-areas:    "a1 a2 a3 a4 a5"
                            "a6 a7 a8 a9 a10";
    .footer__title--privacy{
    grid-area: a1;
    align-self: center;
    }
    .footer__text-1--privacy{
    grid-area: a6; 
    }
    .footer__subtitle-1--privacy{
    grid-area: a2;
    align-self:flex-end;
    }
    .footer__text-2--privacy{
    grid-area: a7;
    align-self: flex-start;
    }
    .footer__subtitle-2--privacy{
    grid-area: a3;
    align-self:flex-end;
    }
    .footer__text-3--privacy{
    grid-area: a8;
    align-self: flex-start;
    }
}
/*|| 4.4.-AVISO Y CONTACTO ||*/
.footer__section--legal{/*<div>*/
    grid-area: a3;
    display: grid;
    gap: 1%;
    grid-template-areas:    "a1 a2 a3 a4 a5"
                            "a6 a7 a8 a9 a10";
    .footer__title--legal{
    grid-area: a1;
    align-self: center;
    }
    .footer__text-1--legal{
    grid-area: a6; 
    }
    .footer__subtitle-1--legal{
    grid-area: a2;
    align-self:flex-end;
    }
    .footer__text-2--legal{
    grid-area: a7;
    }
    .footer__subtitle-2--legal{
        grid-column-start: a3;
        grid-column-end: a4;
        align-self:flex-end;
    }
    .footer__text-3--legal{
        grid-area: a8;
        align-self: center;
    }
    .footer__text-4--legal{
        grid-area: a9;
        align-self:center;
    }
}
/*|| 4.5.-REDES SOCIALES ||*/
.footer__nav-list--social{/*<ul>*/
    grid-area: a4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap:1rem ;/* row-gap column gap */
    font-size: .8rem;
    
}

@media (max-width: 900px){/**________TABLET______**/
    
.header__section{/*<header>*/
    /*GRID*/
grid-template: var(--grid-header-template-tablet);  
}
.header__logo-image{/*<img>*/
    max-width: var(--icono-size-logo-responsive);
}
.header__nav-link--main{/*<a>*/
    width: var(--boton-size-navegacion-responsive);
    height: var(--boton-size-navegacion-responsive); 
}
.header__nav-list--social{/*<ul>*/
    flex-direction: row;
    gap:3rem ;
    
}
.header__nav-link--social{/*<a>*/
    font-size: 0;
}
.header__container-boton--dark{/*<div>*/
    grid-area: a3;
}
.header__nav-img--social{/*<img>*/
    width: var(--icono-size-red-social-responsive);
    height: var(--icono-size-red-social-responsive);
}
.footer__nav-list--social{
    gap: 3rem;
}
}
@media (max-width: 600px){/**________celular______**/
    .header__nav-link--main{
        width: var(--boton-size-navegacion-responsive-2);
        height: var(--boton-size-navegacion-responsive-2); 
    }
    .header__nav-list--main{
        gap: .2rem;
    }
    .header__nav-list--social{/*<ul>*/
        gap:1rem ;   
    }
    .header__nav-img--social{/*<img>*/
        width: var(--icono-size-red-social-responsive-2);
        height: var(--icono-size-red-social-responsive-2);
    }
    .boton-menu{
        width: var(--boton-size-menu-responsive);
        height: var(--boton-size-menu-responsive);
    }
    .boton-dark{
        width: var(--boton-size-menu-responsive);
        height: var(--boton-size-menu-responsive);
    }
    .footer__nav-list--social{
        gap: 1rem;
    }
}