.contenedor_encabezado{
    align-items: center;
    background-color: #1F8E95;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

@media screen and (max-width:768px) {
    .contenedor_encabezado{
        justify-content: space-between;
        flex-direction: column;
    }
    .logo{
        padding-bottom: 2rem;
        padding-right: 1rem;
    }
    .contenedor_menu_principal_lista{
        padding-bottom: 2rem;
    }
}


/*color azul : #08457d */
.seccion{
    background-image: url('../../img/portada.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
    display: flex;
}

.seccion2{
    background-image: url('../../img/fondo_guiacodigo1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 35rem;
    display: flex;
}