.menu_principal_link_redes{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    transition: transform .6s ease;
}
.menu_principal_link_redes:hover{
    color: gold;
    transform: rotateY(360deg) scale(1.8);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.menu_principal_link_redes:active{
    color:white ;
    transform: scale(.5);
    
}